
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>
        <h1>@ViewData["Title"]</h1>
        <h2 class="h4"> Home/Home</h2>
        <h2 class="h4"> Home/Laptops</h2>
        <h2 class="h4"> Home/Tables</h2>
        <h2 class="h4"> Home/Accessories</h2>
        <h2 class="h4"> Home/Privacy</h2>

    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
